<div class="content">
    <div class="topbar">
        <p>Teachers</p>
    </div>

    <div class="body">
        <div class="btn1">
            <a href="#" class="add">
                <button>
                    Add Teachers
                </button> 
            </a>
        </div>
        <div class="btn2">
            <a href="#" class="remove">
                <button>
                    Remove Teachers
                </button>
            </a>
        </div>
        <div class="btn3">
            <a href="#" class="search">
                <button>
                    Search Teachers
                </button>
            </a>
        </div>
    </div>
</div>