<div class="content">
    <div class="topbar">
        <p>Students</p>
    </div>

    <div class="body">
        <div class="btn1">
            <a routerLink="/addst" class="add">
                <button>
                    Add Student
                </button> 
            </a>
        </div>
        <div class="btn2">
            <a routerLink="/removest" class="remove">
                <button>
                    Remove Student
                </button>
            </a>
        </div>
        <div class="btn3">
            <a routerLink="/searchst" class="search">
                <button>
                    View List
                </button>
            </a>
        </div>
    </div>
</div>