<div class="content">
    <div class="topbar">
        <p>View Teacher</p>
    </div>

    <div class="body">
        <table>
            
            <div *ngFor="let item of desc" class="detail">
                <div class="datasec">
                <td>
                    <tr>ID :{{item._id}}</tr>
                    <tr>Name : {{item.tname}}</tr>
                    <tr>BirthDay : {{item.tbday}}</tr>
                    <tr>Subject : {{item.subject}}</tr>
                    <tr>Address : {{item.address}}</tr><br><br>
                </td>
             </div>
     
            </div>
         </table>
    </div>
</div>