
<div class="content">
    <div class="topbar">
        <p>Add a Students</p>
    </div>
        
    <div class="body">
        <form  action="">
            <label>Full Name</label><input type="text" [(ngModel)]="formData.name" name="name" id="sname" required><br>
            <label>Birthday</label><input type="date" [(ngModel)]="formData.dob" name="bday" id="bday" required><br>
            <label>Grade</label><input type="number" [(ngModel)]="formData.grade" name="grade" id="grade" required><br>
            <label>Mother's Name</label><input type="text" [(ngModel)]="formData.m_name" name="mname" id="mname" required><br>
            <label>Father's Name</label><input type="text" [(ngModel)]="formData.f_name" name="fname" id="fname" required><br>
            <label>Address</label><input type="text" [(ngModel)]="formData.address" name="address" id="address" required><br>
            
        </form>
        <button type="button" (click)="submit()">Submit</button>
    </div>

</div>
