<div class="container">
    <div class="body">
        <div class="top">
            <p>Welcome to My School..!</p>
        </div>

        <div class="bottom">
            <div class="left">
                <a routerLink="/sthome" mat-raised-button class="btn">
                    Access Students
                </a>

            </div>

            <div class="right">
                
                <a routerLink="/teachhome" mat-raised-button class="btn">
                    Access Teachers
                </a>
            </div>
        </div>
    </div>
</div>
