<div class="content">
    <div class="topbar">
        <p>View Student</p>
    </div>

    <div class="body">
        <table>
            
       <div *ngFor="let item of desc" class="detail">
           <div class="datasec">
           <td>
               <tr>ID :{{item._id}}</tr>
               <tr>Name : {{item.name}}</tr>
               <tr>Bday : {{item.bday}}</tr>
               <tr>Grade : {{item.grade}}</tr>
               <tr>Mother : {{item.m_name}}</tr>
               <tr>Father : {{item.f_name}}</tr>
               <tr>Address : {{item.address}}</tr><br><br>
           </td>
        </div>


       </div>
    </table>


        
        

        

    </div>
</div>