<div class="content">
    <div class="topbar">
        <p>About</p>
    </div>

    <div class="body">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eum officia mollitia adipisci quae ipsa vero quaerat voluptatibus incidunt. 
            Ad id praesentium ipsa beatae deserunt omnis illum quo sequi et. 
            Sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eum officia mollitia adipisci quae ipsa vero quaerat voluptatibus incidunt. 
            Ad id praesentium ipsa beatae deserunt omnis illum quo sequi et. 
            Sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eum officia mollitia adipisci quae ipsa vero quaerat voluptatibus incidunt. 
            Ad id praesentium ipsa beatae deserunt omnis illum quo sequi et. 
            Sint.
        </p>
    </div>
</div>
